#root-container {
  background: rgb(255, 235, 79) url("../img/background-clock.png");
  height: 800px;
  overflow: hidden;
  position: relative;
  width: 1280px;
}

#root-container.photo-slide-mode {
  background-image: none;
}

#photo-slide-container {
  height: 100%;
  width: 100%;
}

/* ================================================
    Mode Setting
   ================================================ */

.photo-slide-mode #photo-slide-container {
  display: block;
}

.photo-slide-mode #analog-clock,
.photo-slide-mode #analog-clock-info {
  display: none;
}

.photo-slide-mode #digital-clock {
  position: absolute;
  left: 70px;
  bottom: 50px;
}

.no-photo-mode #photo-slide-container {
  display: none;
}

.no-photo-mode #analog-clock {
  height: 701px;
  position: absolute;
  top: 50px;
  right: 85px;
  width: 701px;
}

.no-photo-mode #digital-clock {
  position: absolute;
  left: 70px;
  top: 300px;
}

/*  clock in broadcast page
   ================================================ */

#digital-clock.broadcast-page-clock {
  position: absolute;
  left: 410px;
  top: 20px;
}

#digital-clock.broadcast-page-clock > #digital-clock-date {
  height: 36px;
  line-height: 36px;
  margin-bottom: 16px;
}

#digital-clock.broadcast-page-clock > #digital-clock-time {
  height: 68px;
  line-height: 68px;
}

/* ================================================
    Element default
   ================================================ */

#digital-clock {
  text-align: center;
  width: 378px; /* ロゴに合わせる */
}

#digital-clock-date {
  height: 50px;
  line-height: 50px;
  margin-bottom: 32px;
}

#digital-clock-date > img {
  max-height: 100%;
  vertical-align: bottom;
}

#digital-clock-time {
  height: 94px;
  line-height: 94px;
  margin-bottom: 32px;
}

#digital-clock-time > img {
  max-height: 100%;
  vertical-align: middle;
}

#analog-clock img {
  position: absolute;
}

#analog-clock-info > p {
  color: rgb(105, 51, 11);
  margin: 3px 0;
}

#logo-container {
  height: 142px;
  position: absolute;
  top: 0;
  left: 70px;
  width: 378px;
}