

body {
	width: 1280px;
	height: 800px;
	/*overflow: hidden;*/
	background: url("../img/background-view.png");
}

video.viewVideo, video.streamVideo {
	/*background-color: black;*/
	position: absolute;
	border-radius: 9px;
}

#streamVideo {
	left: 68px;
	top: 181px;
	width: 630px;
	height: 472px;
}

#video0 {
	left: 767px;
	top: 68px;
	width: 155px;
	height: 116px;
}

#video1 {
	left: 973px;
	top: 56px;
	width: 264px;
	height: 198px;
}

#video2 {
	left: 983px;
	top: 563px;
	width: 265px;
	height: 197px;
}
/*
#video3 {
	left: 990px;
	top: 563px;
	width: 253px;
	height: 198px;
}

#video4 {
	left: 756px;
	top: 557px;
	width: 187px;
	height: 146px;
}
*/